[Desktop Entry]
Name=Merkaartor
Comment="An OpenStreetMap editor"
Exec=merkaartor-james-carroll.merkaartor
Icon=${SNAP}/meta/gui/merkaartor.png
Type=Application
Terminal=false
Categories=Utility;Maps

